<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorSchulung2025</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="renderfragment">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Renderfragmente
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="databinding">
                <i class="bi bi-arrows-angle-contract" aria-hidden="true" style="top: -14px; font-size: 18px;"></i> Data-Binding
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hydration-cycle-example">
                <i class="bi bi-arrow-repeat" aria-hidden="true" style="top: -14px; font-size: 18px;"></i> Hydration
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="performance">
                <i class="bi bi-graph-up-arrow" aria-hidden="true" style="top: -14px; font-size: 18px;"></i> Performance
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BasePath">
                <i class="bi bi-signpost-split-fill" aria-hidden="true" style="top: -14px; font-size: 18px;"></i> BasePath
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ConnectionPooling">
                <i class="bi bi-link" aria-hidden="true" style="top: -14px; font-size: 18px;"></i> ConnectionPooling
            </NavLink>
        </div>
    </nav>
</div>

