@if (Item is TextListItem textList)
{
    <div>@textList.GetText()</div>
}
else if (Item is IconListItem iconItem)
{
    <i class="bi @iconItem.GetIconName()" style="font-size: 2rem;"></i>
}

@code {

    [Parameter, EditorRequired]
    public IListItem Item { get; set; }
}
