@page "/ConnectionPooling"

<h3>ConnectionPooling</h3>

<p>
    Wir entwickeln unsere Anwendung mit KI-Unterstützung. Laut Aussage von KI können wir Leistungsprobleme bei parallelen Nutzerzahlen > 250 erwarten. Für diesen Zustand wurde uns ConnectionPooling im SignalR empfohlen.
</p>
<p>
    <code>Frage:</code><br/>
    Was sind bekannte Grenzen für parallele Nutzer bei SignalR? Wie verhält sich ConnectionPooling, was genau ist das in Bezug auf SignalR und wie kann es uns helfen, die Leistung zu verbessern?
</p>

@code {

}
