@page "/"

<PageTitle>Home</PageTitle>

<h1><i class="bi bi-heart-fill"></i> Hello, world!</h1>

<p>Welcome to your new app. Hier sind einige Beispiele für Bootstrap Icons:</p>

<div class="d-flex flex-row gap-4 my-4">
    <div class="text-center">
        <i class="bi bi-person-fill" style="font-size: 2rem;"></i>
        <p>Person</p>
    </div>
    <div class="text-center">
        <i class="bi bi-envelope-fill" style="font-size: 2rem;"></i>
        <p>Email</p>
    </div>
    <div class="text-center">
        <i class="bi bi-calendar-check" style="font-size: 2rem;"></i>
        <p>Kalender</p>
    </div>
    <div class="text-center">
        <i class="bi bi-gear-fill" style="font-size: 2rem;"></i>
        <p>Einstellungen</p>
    </div>
</div>
