@rendermode InteractiveServer

@page "/performance"

<h3>Performance</h3>

<p>
    <code>Frage:</code><br/>
    Wie können wir Geschwindigkeiten messen, Front- zu Back, Back zu Front, Back zu Datenbank etc. ?
</p>

@code {

}
